::selection {
    color: silver;
    background: transparent;
}


/* ------------------- Scroll Bar ------------------- */

/* width */
::-webkit-scrollbar {
    width: 0.75vw;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 35px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: silver;
}




body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 0;
    top: 0;
    background-color: var(--body-background);
}

vsc-initialized dark-theme {
    background-color: var(--body-background);
}

/* darkmode css */

:root {
    --body-background: white;
    --navbar-background: white;
    --text-color-primary: black;
    --text-color-secondary: grey;
}

.dark-theme{
    --body-background: black;
    --navbar-background: black;
    --text-color: white;
}

.a {
    text-decoration: none;
    cursor: pointer;
}





.navigation-header {
    position: fixed;
    background-color: var(--navbar-background);
    padding: 0px 10px;
    height: 60px;
    width: 100%;
    top: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

nav {
    width: 97%;
    border-radius: 10px;
    /* max-width: 1650px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background);
}

/* .logo-container>a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
} */

.devops-logo {
    width: 220px;
    /* padding: 10px 10px; */
}

.navigation-items {
    display: flex;
    gap: 70px;
}

.navigation-items>a {
    display: flex;
    color: var(--text-color-primary);
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: .15s ease-in-out;
}

.navigation-items>a:hover {
    color: var(--text-color-secondary);
    font-weight: 600;
    padding: 0px 20px;
}

.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color-primary);
}

@media screen and (max-width:768px) {
    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .hamburger #closeHam {
        display: none;
    }

    .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        background-color: rgb(73, 51, 153);
        width: 100%;
        height: calc(100vh - 58px);
        padding-top: 60px;
        gap: 10vh;
    }
}




.colorbar {
    position: fixed;
    width: 100%;
    height: 5px;
    margin-top: 60px;
    /* background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%); */
    background-color: lightsteelblue;
}

.textunderline {
    text-decoration: underline;
    text-decoration-color: crimson;
}

.div1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    padding: 46.5vh 2vw;
    /* background-color: black; */
    background-color: black;
    background-image: linear-gradient(180deg, white 10%, black 70%);
}

.div4 {
    width: 100%;
    color: white;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    /* padding: 46.5vh 2vw; */
    background-color: black;
    background-image: linear-gradient(0deg, white 0%, black 70%);
}

.div2 {
    color: black;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    padding: 40vh 2vw;
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.div3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(https://kyle-inc.github.io/resource/kyledevops/teamfortnight.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
    color: silver;
    padding: 43.5vh 3vw;
}

.div4container {
    width: 100%;
    background-color: black;
}

.div4 {
    width: 40vw;
    /* min-width: 412px; */
    min-width: 300px;
    /* min-height: 915px; */
    padding: 44vh 5vw;
    color: silver;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    float: right;
}

.divhalf4 {
    width: 40vw;
    min-width: 340px;
    padding: 8vh 4vw;
    color: silver;
    /* background-color: #f53844; */
    background-color: #523a78;
    background-image: linear-gradient(316deg, #523a78 0%, #ee696b 74%);
    /* egg gradient:remote control */
    float: left;
    margin-top: 13vh;
    /* margin-bottom: 7vh; */
}

.div5 {
    color: silver;
    font-size: 7vh;
    font-family: 'Ubuntu', sans-serif;
    padding: 50vh 2vw;
    /* background-color: white; */
    background-color: #000000;
}

.div6 {
    color: silver;
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
    padding: 40vh 2vw;
    background-color: white;
    background-image: linear-gradient(0deg, white 10%, black 70%);
    /* background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%); */
    /* background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #000000 74%); */
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}